.blog {


    section {
        padding-top: 25px;

        @media (min-width:320px) {
            margin: 0 5px;
        }

        @media (min-width:425px) {
            margin: 0 22px;
        }

        @media (min-width:768px) {
            margin: 0 40px;
        }

        @media (min-width:1204px) {
            margin: 0 75px;
        }
    }
}